*{
     box-sizing: border-box;
     margin: 0;
     padding: 0;

}
body{
     font-family: 'Open Sans', sans-serif;

}

/* share style  start here*/

.primary-btn{
     width: 150px;
     height: 64px;
     border: 0;
     border-radius: 5px;
     background: #FD6E0A;
     color:#FFF;
     font-size: 20px;
     font-style: normal;
     font-weight: 700;
     line-height: normal;

} 
.primary-discpription{
     margin-bottom: 10px;
     color:  #757575;
     font-size: 18px;
     font-style: normal;
     font-weight: 400;
     line-height: 30px;     
}

/* share style end here */

/* header section style start form here */
header{
     height: 820px;
     background-color:#FFF8F3; 
     background-image: url('images/header_bg.png'),url('images/developer.png');
     background-repeat: no-repeat;
     background-position: bottom right, bottom left;  
}

nav{
     padding-top: 50px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin: 0 200px;
}

.title span{
     color:  #FD6E0A;
}
nav >ul{
     display: flex;
     list-style-type: none;
     align-items: center;
     
}
nav ul li a{
     text-decoration: none;
     margin-right: 40px;
     color:  #474747;
     font-size: 20px;
     font-weight: 400;
    
} 
/* banner style */
.anner-container{
    
}
.banner-container{
     padding: 30px 30px 0px 200px;
     display: flex;
     align-items: center;
     gap: 250px;
}

.Portfolio-img{
     width: 584px;
     height: 676px;  
}
.title{
     margin: 0;
     color: #474747;
     font-size: 45px;
     font-weight: 800;
     line-height: normal;
}
.name-titile{
     margin: 0;
     color: #181818;
     font-size: 85px;
     font-weight: 700;
}

.primary-btn{
     margin-left: 20px;
}
.Primary-title{
     text-align: center;
     padding-bottom: 40px;
}
/* header section style end form here */
/* about section start form here */
section .about{
     margin-top: 100px;
     margin-bottom: 30px;
     padding: 50px 150px;
     border-radius: 10px;
     background: #FFF8F3;
}
section{
     width: 1140px;
     margin: 0 auto;
     
     
}
.about-container{
     display: flex;
     justify-content: space-between;
     margin-top: 20px;
     margin-bottom: 20px;
     
}
.about-container .primary-discpription{
     text-align: center ;
}
.info{
     color: #474747;
     text-align: center;
     font-size: 25px;
     font-weight: 600;
     line-height: 30px;
}
.what-i-do {
     margin: 100px 0;

}
.what-i-do .primary-discpription{
     margin: 0 150px;
     text-align: center;
}
/* about section end form here */
/* skill section start form here */
.skill-container{
     display: flex;
     justify-content: space-between;
     /* gap: 20px; */
     

     
}
.skill-item{
     width: 267px;
     height: 377px;   
     margin-bottom: 100px;
     border-radius: 5px;
     background: #FFF;
     box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);     
}
.icon{
     width: 50px;
     height: 50px;
     margin: 30px 0px 30px 30px;    
  
}

.skill-container .skill-item .primary-title, .primary-discpription{
     margin-left: 30px;
     margin-bottom: 30px;
}
/* skill section end form here */